
@{
    ViewBag.Title = "Products";
}
<ul class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i></a></li>
    <li><a href="#">Ürünler</a></li>
</ul>
<div  ng-app="myApp">

    <div ng-controller="myCtrl">
        <div class="row text-center" id="filter">
            <form>
                <div class="form-group col-sm-2 col-xs-2">
                    <select data-filter="make" class="filter-make filter form-control">
                        <option value="">Marka Seçiniz</option>
                        <option value="">Show All</option>
                    </select>
                </div>
                <div class="form-group col-sm-2 col-xs-2">
                    <select data-filter="model" class="filter-model filter form-control">
                        <option value="">Model Seçiniz</option>
                        <option value="">Show All</option>
                    </select>
                </div>
                <div class="form-group col-sm-2 col-xs-2">
                    <select data-filter="type" class="filter-type filter form-control">
                        <option value="">Select Type</option>
                        <option value="">Show All</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="row" id="search">
                <div class="form-group col-xs-3">
                    <input ng-model="Searchtext" class="form-control" type="text" placeholder="Aranacak Kelimeyi Giriniz" />
                </div>
                <div class="form-group col-xs-3">
                    <button ng-click="search()" class="btn btn-block btn-primary">Ara</button>
                </div>
        </div>

        <div class="row">
            <!--Middle Part Start-->
            <script type="text/javascript" src="~/AngularData/Database.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>
            <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
            <div id="content" class="col-sm-12 text-center" >
                <div class="table-responsive form-group">
                    <table id="tableproduct" class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="text-center">Ürün Resmi</td>
                                <td class="text-center">Ürün Kodu</td>
                                <td class="text-center">Ürün Adı</td>
                                <td class="text-center">Ürün Fiyat</td>
                                <td class="text-center">Ürün Adedi</td>
                                <td class="text-center">Stok Durumu</td>
                                <td class="text-center">Sepete At</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="Pd in products | filter:Name">
                                <td class="text-center">
                                    <button class="button" data-toggle="modal" data-target="#image" ng-click="setImage(Pd)" ng-disabled="imagecheck(Pd)"><i class="fa fa-camera"></i></button>
                                </td>
                                <td class="text-center">
                                    {{Pd.Code}}
                                </td>
                                <td class="text-center">
                                    {{Pd.Name}}
                                </td>
                                <td class="text-center">
                                    {{Pd.Price}} TL
                                </td>
                                <td class="text-center">
                                    <input id="quantity{{Pd.Id}}" type="number" min="0" max="{{Pd.Stock}}" style="border:4px solid red; background-color:darkgrey; color:white" class="form-control" ng-init="0" />
                                </td>
                                <td class="text-center" ng-show="Pd.Stock > 0 ? true:false">
                                    <i class="fa fa-check-circle" style="color:green"></i>
                                </td>
                                <td class="text-center" ng-hide="Pd.Stock > 0 ? true:false">
                                    <i class="fa fa-times-circle" style="color:red"></i>
                                </td>
                                <td class="column9 text-center" ng-show="Pd.Stock > 0 ? true:false">
                                    <button class="btn" ng-click="Basket(Pd)"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <!--Middle Part End-->
            <!--Right Part Start -->
            <!--Right Part End -->
        </div>
    </div>
</div>