@model IEnumerable<Aytesoft.Models.Domain.OrderDetail>
@{
    ViewBag.Title = "OrderInformation";
}

<h2>OrderInformation</h2>

<div class="row">
    <!--Middle Part Start-->
    <div id="content" class="col-sm-9">
        <h2 class="title">Sipariş Detayı</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td class="text-left">Ürün Kodu</td>
                        <td class="text-left">Ürün Adı</td>
                        <td class="text-right">Sipariş Adedi</td>
                        <td class="text-right">Fiyat</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td class="text-left">@item.product.code </td>
                        <td class="text-left">@item.product.name</td>
                        <td class="text-right">@item.quantity</td>
                        <td class="text-right">@item.productprice TL</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="buttons clearfix">
            <div class="pull-right">
                <a class="btn btn-primary" href="#">Continue</a>
            </div>
        </div>



    </div>
    </div>
